 @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

:root {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #3d3d3d;
    --tertairy-text-color: #a2a2a2;
    
    --primary-background-color: #3d3d3d;
    --secondary-background-color: #2f2f2f;
}

* {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    
    /* Add a smooth scrolling effect for the navigation
    and add a top-padding, otherwise the top of the element
    the navigation is scrolling to would be off-screen */
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

h1 {
    font-size: large;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--secondary-text-color);
}

h2 {
    font-size: medium;
    font-weight: 400;
    color: var(--secondary-text-color);
}

p, a {
    font-size: small;
    font-weight: 400;
}

.intro {
    text-align: center;
    margin: 15px 0 25px 0;
}

.intro :first-child {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.intro :last-child {
    font-size: small;
}

.nav {
    top: 0;
    position: sticky;
    overflow: hidden;
    text-align: center;
    padding: 0 0 0 5px;
    margin-bottom: 5px;
    background: var(--primary-text-color);
    border-bottom: 2px solid var(--tertairy-text-color);
}

.nav ul {
    display: inline-block;
}

.nav li {
    margin: 0 100px 0 100px;
    float: left;
    
}

.nav a {
    color: var(--tertairy-text-color);
    font-weight: 500;
}

.nav li :hover {
    color: var(--secondary-text-color);
}

.content {
    height: auto;
    background: var(--primary-background-color);
    padding: 20px 45px 40px 45px;
}

#art {
    display: flex;
    margin-top: 40px;
    padding: 30px 30px 20px 30px;
    background: var(--secondary-background-color);
}

#art #text {
    margin: 5px 30px 0 30px;
}

/* Using :first-child here, because of design changes.
This allows the HTML page to use any kind of text tag
while this CSS file changes the color of the text to white. */
#art #text :first-child, p {
    color: var(--primary-text-color);
}

#art #text #explanation {
    margin-top: 20px;
}

#art #text #explanation p {
    color: var(--tertairy-text-color);
}

#art img {
    width: 25%;
}